.list-item {
  background-color: var(--main-color);
  max-width: 230px;
  width: 230px;
  height: 100%;
  cursor: pointer;
  position: relative;
  color: white;
  margin-right: 5px;
}

.list-item > img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  z-index: 10;
  object-fit: cover;
}

.hover {
  z-index: 90;
  height: 320px;
  width: 330px;
  position: absolute;
  top: -120px;
  left: -35px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.item-video-image {
  position: relative;
  height: 150px;
}
.item-video-image > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 4;
  position: absolute;
}

.item-video-image > video {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.item-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-icons {
  display: flex;
  margin: 10px 5px 0px 5px;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.item-icon:hover {
  color: #b8b8b8;
}

.item-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-rating {
  display: flex;
  align-items: center;
  margin: 5px 15px 0px 5px;
  font-size: 15px;
}

.item-duration > span {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 12px;
}

.item-details {
  font-size: 13px;
}

.item-name {
  font-size: 20px;
  margin: 10px 5px;
}

.genres {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  color: #cdcbcb;
  font-size: 12px;
}

.genre-list {
  margin: 0px 5px;
  padding-left: 17px;
}

ul {
  gap: 1rem;
}

li {
  padding-right: 0.7rem;
}

.item-age-limit {
  border: 1px solid gray;
  padding: 1px 3px;
}

.item-year {
  margin-left: 10px;
}

.item-description {
  color: white;
  margin: 8px 5px;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 12px;
}

.spinner {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.no-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}
