.list-item-page {
  background-color: var(--main-color);
  max-width: 230px;
  width: 230px;
  height: 100%;
  cursor: pointer;
  position: relative;
  color: white;
  margin-right: 5px;
}

.content-list-titles {
  color: white;
  font-size: 20px;
  margin-left: 40px;
}

.list-item-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: 10;
  object-fit: cover;
}

.list-item-hover {
  z-index: 90;
  height: 280px;
  width: 310px;
  position: absolute;
  top: -80px;
  left: -35px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  transition: 0.3s ease-in-out;
}

.list-item-video-image {
  position: relative;
  height: 130px;
}
.list-item-hovered-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 4;
  position: absolute;
}

.list-item-video {
  width: 100%;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.list-item-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item-icons {
  display: flex;
  margin: 10px 5px 0px 5px;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.list-item-icon {
  color: white;
}

.list-item-icon:hover {
  color: #b8b8b8;
}

.list-item-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-rating {
  display: flex;
  align-items: center;
  margin: 5px 15px 0px 5px;
  font-size: 15px;
}

/* .item-duration > span {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 12px;
} */

.list-item-details {
  font-size: 13px;
}

.list-item-name {
  font-size: 15px;
  margin: 10px 5px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.list-item-genres-age-year {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  color: #cdcbcb;
  font-size: 12px;
}

.list-item-genre-list {
  margin: 0px;
  padding: 0px;
  gap: 0.3rem;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.list-item-genre-list > li {
  padding: 0.15rem 0.3rem;
  border-radius: 10px;
  background-color: rgb(114, 114, 114);
}

.list-item-age-limit {
  border: 1px solid gray;
  padding: 1px 3px;
}

.list-item-year {
  margin-left: 10px;
}

.list-item-description {
  color: white;
  margin: 8px 5px;
  width: 97%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 12px;
}

.spinner {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.no-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

@media (max-width: 768px) {
  .list-item-page {
    background-color: var(--main-color);
    max-width: 150px;
    width: 140px;
    height: 220px;
    cursor: pointer;
    position: relative;
    color: white;
    margin-right: 5px;
  }

  .list-item-img {
    border-radius: 3px;
    width: 100%;
    height: 220px;
    z-index: 10;
    object-fit: cover;
  }

  .list-item-hover {
    width: 140px;
    height: 220px;
    top: 0;
    left: 0;
  }

  .list-item-video-image {
    position: relative;
    height: 180px;
  }

  .list-item-hovered-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
  }

  .list-item-video {
    width: 100%;
    height: 220px;
    object-fit: cover;
    position: absolute;
  }

  .list-item-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-item-icons {
    display: flex;
    margin: 10px 5px 0px 5px;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .list-item-icon {
    color: white;
  }

  .list-item-icon:hover {
    color: #b8b8b8;
  }

  .list-item-rating,
  .list-item-details,
  .list-item-name,
  .list-item-genres-age-year,
  .list-item-genre-list,
  .list-item-age-limit,
  .list-item-year,
  .list-item-description {
    display: none;
  }
}

.vote {
  display: flex;
}

.color {
  color: white;
}

.change_color {
  color: blue;
}
