@import "../../App.css";

.upcoming_image {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(49, 23, 23, 0.9) 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.upcoming-featured {
  height: 85vh;
  position: relative;
}
.upcoming-category {
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

select {
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid white;
  color: white;
  margin-left: 40px;
  padding: 5px;
}

#genre {
  z-index: 2;
}

.upcoming-featured > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upcoming-info {
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 70px;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0.9;
}

.upcoming-title > h2,
h4 {
  margin: 0px;
  padding-left: 10px;
}

.upcoming-title {
  display: flex;
  align-items: center;
}

.upcoming-desc {
  font-size: 15px;
  margin: 10px 0px;
  padding: 0px 10px 6px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 5;
  border-radius: 10px;
  line-height: 1.8em;
}

.upcoming-desc:hover {
  background: rgba(90, 87, 87, 0.75);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.upcoming {
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
}

.play {
  background-color: rgb(202, 201, 201);
  color: var(--main-color);
  padding: 10px 10px;
  margin-left: 10px;
}

.upcoming-span {
  margin-left: 5px;
}

.play-button {
  color: rgb(18, 17, 17);
}

@media (max-width: 768px) {
  .upcoming-featured > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 760;
  }

  .upcoming-info {
    width: 70%;
    left: 10px;
  }

  .upcoming-title > h2 {
    font-size: 18px;
  }

  .upcoming-title > h4 {
    font-size: 14px;
  }

  .upcoming-desc {
    font-size: 12px;
    margin: 10px 0px;
    padding: 10px 10px 4px 10px;
  }

  .upcoming {
    padding: 5px;
  }

  .play-button {
    font-size: 12px;
    margin-left: 5px;
  }
}
