.content-list-page {
  width: 100%;
  margin-top: 10px;
}

.content-list-titles {
  color: white;
  font-size: 20px;
  margin-left: 40px;
}

.content-list-slides {
  position: relative;
  margin: 1px 0px;
}

.content-list-slider-arrow {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 100%;
  background-color: rgb(26, 23, 23, 0);
  color: white;
  cursor: pointer;
}

.content-list-slider-arrow-left {
  left: 0;
}

.content-list-slider-arrow-right {
  right: 0;
}

.content-list-container {
  margin-left: 40px;
  display: flex;
  width: max-content;
  margin-top: 10px;
  transform: translateX(0px);
  transition: all 0.5s ease;
}
